body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
button{
    border: none;
    padding: 12px 28px;
    color: black;
    background-color: beige;
    border-radius:8px ;

}
